{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
</head>
<body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto mt-5 bg-light p-5">
                {% if status %}
                    <div class="alert alert-success">{{status}}</div>
                {% endif%}
                
                <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="display-4 font-weight-bold text-center mb-5">Register</div>
                <hr/>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Pre Title</label>
                        <select name="pre_title" id="" class="form-control">
                            <option value="Mr">Mr</option>
                            <option value="Ms">Ms</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="">First Name</label>
                        <input type="text" name="first_name" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label for="">Last Name</label>
                        <input type="text" name="last_name" class="form-control" />
                    </div>
                </div>
                <!-- Row End -->
                <div class="row mt-4">
                    <div class="col-md-6">
                        <label for="">Date of Birth</label>
                        <input type="date" name="dob" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label for="">Email</label>
                        <input type="email" name="email" class="form-control" />
                    </div>
                </div>
                <!-- row end -->
                <div class="row mt-4">
                    <div class="col-md-6">
                        <label for="">Phone</label>
                        <input type="text" name="contact" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label for="">Designation</label>
                        <input type="text" name="designation" class="form-control" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <label for="">Username</label>
                        <input type="text" name="username" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label for="">Password</label>
                        <input type="password" name="password" class="form-control" autocomplete="new-password" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <label for="">Address</label>
                        <textarea class="form-control" name="address" ></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="">Image</label>
                        <input type="file" class="form-control" name="userimage" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <input type="submit" value="Register" class="btn btn-success btn-block" />
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
</html>