{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 bg-primary text-center text-light d-flex align-items-center justify-content-center">
                <h1 class="display-1 font-weight-bold">&copy;</h1>
            </div>
            <div class="col-md-6 bg-dark p-5 text-white ">
                <h1 class="display-4 text-center font-weight-bold">Login</h1>
                <hr class="border border-light" />
                {% if status %}
                    <div class="alert alert-danger">{{status}}</div>
                {% endif%}
                <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="">Username</label>
                    <input type="text" class="form-control" name='username' />
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" />
                    <input type="submit" value="Login" class="btn btn-success mt-3" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>